@import url('https://fonts.googleapis.com/css?family=Oswald');
body{
  color: white;
  background-color: #1F1F1F;
  font-size:10px;
  margin:0 auto;  
  text-align:center;
  font-family:'Oswald',Impact;
}
#root{
	width:100%;
	display:inline-block;
  text-align: center;
}
.content{
	outline:none;
	margin-top:0px;
}
.note{
	position:fixed;
	font-size:18px;
	color:#cc0;
	width:100%;
	top:80px;
	border:0px solid blue;
	text-align:left;
	padding-left:80px;
}
.seg{
	display:inline-block;
	margin-right:80px;
}
.hint{
	margin-right:10px;
}
.colorBlue{
	color:blue;
}
.colorGreen{
	color:green;
}
.colorRed{
	color:red;
}
.colorOrange{
	color:orange;
}
.colorPurple{
	color:purple;
}
.stage{
  position: relative;
  top:60px;
  height: 360px;
  width: 1080px;
  display: inline-block;
  margin-top: 10px;
  z-index: 9;
  overflow:hidden;
}
.map{
  position: absolute;
  z-index: 99;
}
.mask{
  position: absolute;
  height: 360px;
  z-index: 999;
}
.cellRow{
  height: 12px;
  line-height: 12px;
}
.cell{
  display: inline-block;
  background-color: gray;
  width: 12px;
  height: 12px;
}
.maskcell{
  display: inline-block;
  width: 12px;
  height: 12px;
}
.black{
  background-color: #1F1F1F;
}
.white{
  background-color: white;
}
.red{
  background-color: red;
}
.green{
  background-color: green;
}
.orange{
  background-color: orange;
}
.blue{
  background-color: blue;
}
.purple{
  background-color: purple;
}
.boss{
  background-color: #CC6600;
}
.hide{
  visibility:hidden;
}
.warn{
  position: absolute;
  bottom: 100px;
  left:500px;
}
.long{
	width:300px;
}
.message{
	position:relative;
	display:inline-block;
	width:100px;
  text-align: left;
  top:75px;
  margin-left:30px; 
}
.toggle{
	width:100px;
	margin-bottom:20px;
}
.item{
	display:inline-block;
  font-size: 20px;
  color: #B0B0B0;
  font-weight: 800;
  width:100px;
  text-align:center;
  border-bottom:3px solid #404040;
  margin-top:20px;
}
.itemName{
	line-height:10px;
}
.itemValue{
	line-height:10px;
	margin-top:15px;
}
.headline{
	background-color:#858585;
	position:fixed;
	bottom:0;
	width:100%;
	text-align:left;
	padding-bottom:10px;
}
.title{
	display:inline-block;
  font-size: 40px;
  font-color:white;
  margin-left:70px;
  margin-right:350px;
}
.byline{
	display:inline-block;
  font-size: 25px;
  color:black
}
