body{
  color: white;
  background-color: #111;
  font-size:10px;
}
h1{
  margin-top: 50px;
  font-size: 40px;
}
h3{
  font-size: 15px;
  margin-bottom: 20px;
}
#root{
  margin:20px auto;
  text-align: center;
}
.content{
	border:none;
	outline:none;
}
.message{
  margin-left: 50px;
  text-align: left;
}
.message .item{
	display:inline-block;
  margin-right: 20px;
  font-size: 20px;
  color: blue;
  font-weight: 800;
  width:150px;
  text-align:center;
  border:1px dashed gray;
}
.stage{
  position: absolute;
  height: 360px;
  width: 1080px;
  display: inline-block;
  margin-top: 10px;
  left:40px;
  z-index: 9;
  overflow:hidden;
}
.map{
  position: absolute;
  z-index: 99;
}
.mask{
  position: absolute;
  height: 360px;
  z-index: 999;
}
.cellRow{
  height: 12px;
  line-height: 12px;
}
.num{
  display: inline-block;
  height: 12px;
  line-height: 12px;
  color: red;
  width: 19px
}
.cell{
  display: inline-block;
  background-color: gray;
  width: 12px;
  height: 12px;
}
.maskcell{
  display: inline-block;
  width: 12px;
  height: 12px;
}
.black{
  background-color: #111;
}
.white{
  background-color: white;
}
.red{
  background-color: red;
}
.green{
  background-color: green;
}
.orange{
  background-color: orange;
}
.blue{
  background-color: blue;
}
.purple{
  background-color: purple;
}
.boss{
  background-color: #CC6600;
}
.toggle{
	position:absolute;
	top:150px;
	right:100px;
}
.hide{
  visibility:hidden;
}
.warn{
  position: absolute;
  bottom: 80px;
  left:500px;
}
.note{
	position:absolute;
	font-size:20px;
	bottom:0px;
	width:1080px;
	color:#cc0
}
.colorBlue{
	color:blue;
}
.colorGreen{
	color:green;
}
.colorRed{
	color:red;
}
.colorOrange{
	color:orange;
}
.colorPurple{
	color:purple;
}